<!doctype html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<style>
	webview {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
	</style>
</head>

<body>
	<webview src="{{url}}" partition="{{partition}}"></webview>
</body>